<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <button id="login">获取token</button>
    </div>
    <div>
      <button id="getUser">获取用户信息</button>
    </div>
    <div>
      <button id="logout">销毁token</button>
    </div>
    <script src="/javascripts/client.js"></script>
  </body>
</html>
